<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncPoco" version="1.2.0" targetFramework="net452" />
  <package id="DisposableSoftwareContainer.Docker" version="1.1.1" targetFramework="net451" requireReinstallation="true" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.103" targetFramework="net452" requireReinstallation="true" />
  <package id="xunit" version="2.1.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net452" />
  <package id="xunit.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net452" />
</packages>